ion-title{
    color: rgb(116, 116, 116);
    font-size: 1.3rem;
    font-family: "Poppins Bold";
    text-align: center;
}

ion-content {
    --background:#375fae;
}

ion-card {
    font-family: "Poppins Medium";
}

ion-label {
    font-family: "Poppins Medium";
}
ion-chip {
    font-family: "Poppins Medium";
}
#flash{
    color: rgb(185, 158, 0);
}
#ptag{
    color: rgb(49, 175, 106);
}