#container {
  text-align: center;
  font-family: 'Poppins Bold';

  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 30%;
  // transform: translateY(-50%);

  display: flex;
  flex-direction: column;
}

#container strong {
  margin-top: 30%;
  font-size: 200%;
  line-height: 26px;

  color: rgb(70, 70, 70);
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}


#container a {
  font-size: 150%;
  text-decoration: none;
  color: rgb(185, 32, 58);
  // margin-top: 80%;
  margin-top: 50%;
}

ion-content {
  --background: white;
}

#emoji {
  font-size: 400%;
  margin-top: 40%;
}